<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cssfront/stylefront.css">
  <link rel="icon" href="imgfront/logo.png" type="image/x-icon">
  <title>CHECKX</title>
</head>


<body>

  <!-- Header -->

  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/logout">
            <h1><span>C</span>HECK <span>X</span></h1>
          </a>
        </div>
        <div class="nav-list">

          <div class="hamburger">
            <div class="bar"></div>
          </div>
          
          <ul>
            <li><a href="/logout" data-after="Home">Home</a></li>
            <li><a href="#projects" data-after="Projects">Round 1</a></li>
            <li><a href="#round2" data-after="Projects">Round 2</a></li>
            <li><a href="/logoutbutton" >Log Out</a></li>
          </ul>
        
        </div>
      </div>
    </div>
  </section>

  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Be <span></span></h1>
        <h1>Ready To <span></span></h1>
        <h1>CheckMate <span></span></h1>
        <a href="/round1" type="button" class="cta">Round 1</a>
        <a href="/round2" type="button" class="cta">Round 2</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- About Section -->
  <!-- <section id="about">
    <div class="about container">
      <div class="col-left">
        <div class="about-img">
          <img src="pcclogo.jpeg" alt="img">
        </div>
      </div>
      <div class="col-right">
        <h1 class="section-title">About <span>PCC</span></h1>
        <h2>PARALLEL COMPUTING CLUB</h2>
        <p>The PCC stands for Parallel Computing Club. The technical club involves spreading awareness of Parallel Computing using latest hardware like NVIDIA GPUs and popular processors along with software like Matlab, C, C++ etc. The work involves providing innovative solutions to various problems by developing them in our technical labs.</p>
        <a href="http://pcc.nitt.edu/index.html" class="cta">Visit us</a>
      </div>
    </div>
  </section> -->
  <!-- End About Section -->


  <!-- Round 1 Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>Round</span> 1</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 1</h1>
            <h2>What is Round 1?</h2>
            <p>There will be 15 Questions in Round 1. Each question carries the same marks but of different difficulty levels.
              Questions will be Based on Reverse engineering Concept.
            </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 2</h1>
            <h2>What Type of Questions Will be Asked?</h2>
            <p>For every question you will be given with the problem statement along with the wrong code in C++ Language.
              You have to identify the test case for which given Wrong code will fail to produce correct output according to the problem statement.
            </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 3</h1>
            <h2>What is Answer?</h2>
            <p>There might be multiple test cases for which wrong code will fail. You have to identify any one of them.
            </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 4</h1>
            <h2>Checking your Answer</h2>
            <p>To check the validity of your test case, you have to run the wrong code with your test case by providing your test case on the input box and clicking on the run code button.</p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 5</h1>
            <h2>Checking your Answer</h2>
            <p>After clicking on the run code button, a popup will appear if the provided test case is correct. You can see expected output according to problem statement
              along with wrong code's output.
              </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 6</h1>
            <h2>How to Skip Questions?
            </h2>
            <p> Questions can be skipped by clicking on Next Button. You can visit each question only once.
              If you have visited a question and move forward then you cannot revisit the same question.
              </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 7</h1>
            <h2>Question Sequence</h2>
            <p>Sequence  of questions will be different for different-different  users.       </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 8</h1>
            <h2>How to Submit?</h2>
            <p> You can end Round 1 at any moment during the event by just clicking on the Submit Button.
            </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 9</h1>
            <h2>How to Submit?</h2>
            <p>When you are at the Last question, by clicking on the Next Button you will be redirected to Home page and Round 1 will be over for you. 
            </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 10</h1>
            <h2>Donot Refresh Page</h2>
            <p>On Refreshing the page, the current question will be skipped without adding any score and you will be redirected to the next question.</p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>Rule 11</h1>
            <h2 style="color: crimson; ">Use of back button is strictly prohibited</h2>
            <p><strong>Clicking on the Browser back button will lead to score deduction.           </strong>  </p>
          </div>
          <div class="project-img">
            <img src="imgfront/img1.avif" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Round 1 Section -->


<!-- Round 2 Section -->
<section id="round2">
  <div class="round2 container">
    <div class="round2-header">
      <h1 class="section-title"> <span>Round</span> 2</h1>
    </div>
    <div class="all-round2">
      <div class="all-round2">
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 1</h1>
            <h2>What is Round-2?</h2>
            <p>Round - 2 will be a dictionary word searching game. 
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 2</h1>
            <h2>Word searching From Grid of letters</h2>
            <p>Words can be formed by selecting letters on the given grid.
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 3</h1>
            <h2>Different ways of finding Words</h2>
            <p>You can  find dictionary words in three orientations. Horizontally, vertically, diagonally.
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 4</h1>
            <h2>Rules of selecting words</h2>
            <p></p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 5</h1>
            <h2>Maximizing your Round-1 score</h2>
            <p>You can select as many letters as your round 1 score.
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 6</h1>
            <h2>Maximizing your Round-1 score</h2>
            <p>Every selection of words will make a decrease in round1 score by size of word.
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 7</h1>
            <h2>What should be the Word size?</h2>
            <p>You can formulate words  by using more than two letters ( 'on' , 'it' ,'at' etc will not be accepted).
  
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 8</h1>
            <h2>How to Finish?</h2>
            <p>You can finish round 2 by clicking on the submit button.     
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
        <div class="round2-item">
          <div class="round2-info">
            <h1>Rule 9</h1>
            <h2 style="color: crimson;">Winning Criteria</h2>
            <p>70% Of Round 1 Score And 30% of Round 2 Score     
            </p>
          </div>
          <div class="round2-img">
            <img src="imgfront/1.avif" alt="img">
          </div>
        </div>
    </div>
  </div>
</section>
<!-- End Round 2 Section -->

<!-- start Leaderboard Section -->

<!-- End Leaderboard Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>C</span>heck <span>X</span></h1>
      </div>
      <h2>Check Out Our Social Media</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.facebook.com/PCC-NITT-111662260436904"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://www.instagram.com/pcc_nitt/?igshid=6313z8m4ijqv"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
      </div>
      <p>Made With ❤️ by PCC TEAM</p>
    </div>
  </section>
  <!-- End Footer -->


  <script src="jsfront/indexfront.js"></script>
</body>

</html>