<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="cssfront/stylefront.css">
  <link rel="icon" href="imgfront/logo.png" type="image/x-icon">
  <title>CHECK X</title>
</head>


<body>

    <section id="header">
        <div class="header container">
        <div class="nav-bar">
            <div class="brand">
            <a href="/logout">
                <h1><span>C</span>HECK <span>X</span></h1>
            </a>
            </div>
            <div class="nav-list">

            <div class="hamburger">
                <div class="bar"></div>
            </div>
            
            <ul>
                <li><a href="/logout" data-after="Home">Home</a></li>

                <li><a href="#projects" data-after="Projects">Round 1</a></li>
                <li><a href="#round2" data-after="Projects">Round 2</a></li>
                <li><a href="/logoutbutton" >Log Out</a></li>
            </ul>
            
            </div>
        </div>
        </div>
    </section>

    <div class="table-heading">
        <h1>MEMBERS LIST</h1>
    </div>
    
    <div class="members-img">
            
    </div>
    
    <table class="table-main">
    
        <tr>
            <th>NAME</th>
            <th>ACCOUNT NO</th>
            <th class="email">EMAIL</th>
            <th>BALANCE</th>
            
        </tr>
        
        <% users.forEach(user => { %>
        
            <tr class="table-row">
            
                <td> <%= user.name %> </td>
                <td> <%= user.accountNo %> </td>
                <td class="email"> <%= user.email %> </td>
                <td> <%= user.balance %> </td>
        
            </tr>
        
        <% }) %>
    
    </table>
</body>

