<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Live In </title>
      <link rel="icon" href="imglivepage/logo.png" type="image/x-icon">
      <link rel="stylesheet" href="csslivepage/livepage.css">
      <!-- <link rel="stylesheet" href="livepage.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="container">
         <h2><span>Event Live</span> In</h2>
         <div class="countdown">
            <div id="day"></div>
            <div id="hour"></div>
            <div id="minute"></div>
            <div id="second"> </div>
         </div>
      </div>
      
      <script src="jslivepage/livepage1.js"></script>
      <!-- <script src="livepage.js"></script> -->
   </body>
</html>