/* @import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
/* @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap'; */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
    background: url(../imglivepage/background.avif);
    /* background: url(background.avif); */
}

.container{
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    /* background: url(imglivepage/background.avif); */
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    font-size: 5em;
    line-height: 0.7em;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container h2 span{
    display: block;
    color: #fff;
    font-weight: 200;
    letter-spacing: 6px;
    margin-bottom: 60px;
}
/* .timer{
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    float: right;
    height: 300px;
    width: 600px;
    margin-top: 90px;
    font-family: 'Hurricane', cursive;
}

.timer span{
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 3em;
    height: 60px;
} */

.countdown{
    display: flex;
    height: 300px;
    margin-top: 30px;
}

.countdown div{
    position: relative;
    width: 200px;
    height: 200px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 25px;
    font-size: 7em;
    font-weight: 700;
    padding-top: 30px;
}


.countdown div::before{
    content: '';
    position: absolute;
    bottom: -30px;
    left:0;
    width: 100%;
    height: 65px;
    background: #ff0;
    color: #333;
    font-size: 0.35em !important;
    line-height: 35px;
    font-weight: 300;
}

.countdown #day::before{
    content: 'Days';

}
.countdown #hour::before{
    content: 'Hours';

}
.countdown #minute::before{
    content: 'Minutes';

}
.countdown #second::before{
    content: 'Seconds';

}